<div class="container">
  <div id="searchform_container">
    <form id="searchform" action="/artist-search" method="GET">
      <label for="name"></label>
      <input id="searchform_input" type="text" name="name" id="name">
      <button id="searchform_input_button" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>